@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?rhp0s1');
	src:url('fonts/icomoon.eot?#iefixrhp0s1') format('embedded-opentype'),
		url('fonts/icomoon.ttf?rhp0s1') format('truetype'),
		url('fonts/icomoon.woff?rhp0s1') format('woff'),
		url('fonts/icomoon.svg?rhp0s1#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
	content: "\e600";
}
.icon-arrow-down-2:before {
	content: "\e601";
}
.icon-arrow-down-3:before {
	content: "\e602";
}
.icon-arrow-right:before {
	content: "\e603";
}
.icon-arrow-up:before {
	content: "\e604";
}
.icon-bubble:before {
	content: "\e605";
}
.icon-bubble-heart:before {
	content: "\e606";
}
.icon-bullhorn:before {
	content: "\e607";
}
.icon-calendar:before {
	content: "\e608";
}
.icon-checkmark:before {
	content: "\e609";
}
.icon-facebook:before {
	content: "\e60a";
}
.icon-fire:before {
	content: "\e60b";
}
.icon-gift:before {
	content: "\e60c";
}
.icon-instagram:before {
	content: "\e60d";
}
.icon-mail:before {
	content: "\e60e";
}
.icon-mecklogo:before {
	content: "\e60f";
}
.icon-menu:before {
	content: "\e610";
}
.icon-person:before {
	content: "\e611";
}
.icon-pin:before {
	content: "\e612";
}
.icon-quill:before {
	content: "\e613";
}
.icon-search:before {
	content: "\e614";
}
.icon-twitter:before {
	content: "\e615";
}
.icon-vimeo:before {
	content: "\e616";
}
.icon-close:before {
	content: "\e61d";
}
.icon-car:before {
	content: "\e61e";
}
.icon-heart:before {
	content: "\e617";
}
.icon-arrow-right-5:before {
	content: "\e618";
}
.icon-leaf:before {
	content: "\e61f";
}
.icon-airplane:before {
	content: "\e619";
}
.icon-sphere:before {
	content: "\e61a";
}
.icon-map:before {
	content: "\e61b";
}
.icon-arrow-left-4:before {
	content: "\e61c";
}
